/* default */
/* color */
:root{
    --shadow: rgb(187, 187, 187);
    --midGray: #667C8A;
    --bloodRed: #C8161D;
    --pinkRed: #F27D82;
}
/* font */
@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}
h1, h2, h3, h4, h5, p, a { 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 0;
    padding: 0;
}
/* tag */
body, main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}

main div{
    padding: 10px;
}

header, footer, main, nav{width:100%;}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    position: sticky;
    top: 0;
}
header ul{ display: none;}
footer{
    position: fixed;
    bottom: 0px;
    box-shadow: 0px -10px 10px var(--shadow);
    background-color: white;
    z-index: 5;
}

footer nav ul{
    align-items: last baseline;
}

footer nav ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: var(--midGray);
}

footer > p{
    color: var(--midGray);
    margin: 5px;
    font-size: 8px;
}

ul{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

li{
    display: inline;
}

/* header */
header div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


input{width: 100%;}

/* class stlyes */
.hey{width: 90%;}
.hey h1, 
.hey p,
.hey div{margin-top: 10px;}

.hey div{
    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hey div input{margin: 0; border: none;}

.material-symbols-outlined{transform: scale(0.8);}



.smallCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    padding: 0;
}

.smallCards div{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 20px;
    gap: 10px;
}

.smallCards div img{
    padding: 1px;
    background-color: white;
    border-radius: 10px;
}

.redCard{background-color: var(--bloodRed);}

.redCard h3{color: white;}

.redCard svg path{color: white;}



.popular{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.popular a{color: var(--bloodRed);}

.bigCards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
}

.bCard{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow);
}

.bcBg{
    width: 90%;
    height: 130px;
    background-color: var(--bloodRed);
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
}

.bcTag{width: 100%;}

.bcTag div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
}

.bcTag > p{
    color: var(--midGray);
}

.blank{
    height: 80px;
}


/* id */
/* accessibility */
#skip{
    position: fixed;
    top: -50px;
}
#skip:focus{
    top:0px;
    z-index: 6;
}

