/* phone style */
@media only screen and (min-width: 720px){
    body{
        overflow-x: hidden;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 0px 10px 10px var(--shadow);
        padding: 10px;
    }
    header ul{ 
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    header ul li{
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px var(--shadow);
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    header ul li:hover{
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--pinkRed);
    }

    header ul li a{
        text-decoration: none;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;
        font-weight: 900;
    }
    header div svg{display: none;}

    /* main */
    @keyframes showCards {
        from{width: 0vw; visibility: hidden;}
        to{width: 80vw; visibility: visible;}
    }
    .bigCards{
        visibility: hidden;
        width: 80vw;
        height: 60VH;
        overflow-x: scroll;
        flex-direction: row;
        gap: 30px;
        border-left: solid 10px var(--bloodRed);
        border-right: solid 10px var(--bloodRed);
        animation: showCards 1s 2s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    /* footer */
    footer{
        box-shadow: none;
    }
    footer nav{
        display: none;
    }
}