.subNav{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.subNav div{
    border-radius: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 10px var(--shadow);
}

/* special sltyles for fav page */
.foodDetail{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    align-items: center;
}

.favFood{
    padding: 0;
    grid-column: 1/1;
    grid-row: 1/12;
}

.favFood, .favFood div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.favFood div{
    gap: 10px;
}
.favFood p{
    width: 80%;
    text-align: center;
    word-spacing: 0.1rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--midGray);
}

.roundDiv{
    width: 100%;
    padding-bottom: 80px;
    border-radius: 0 0 100% 100%;
    box-shadow: 0px 30px 30px var(--shadow);
}

.sizePick{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: auto;
    grid-column: 1/1;
    grid-row: 10/13;
}

.sizePick h4{
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    justify-self: center;
    box-shadow: 0px 0px 10px var(--shadow);
    background-color: white;
    font-weight: 600;
}

.sizePick .mSize{
    margin-top: 40px;
}

.sizePick .picked{
    background-color: var(--bloodRed);
    color: white;
}

.amount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.amount h5{
    border-radius: 100%;
    padding: 15px;
    text-align: center;
    justify-self: center;
    background-color: var(--pinkRed);
    font-size: 1.2rem;
    font-weight: 800;
}

.amount .less{
    text-align: center;
    font-size: 2rem;
}

.amount .number{
    background-color: white;
}

.favFooter{
    box-shadow: none;
    padding: 20px;
}

.favFooter > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.favFooter div div{
    padding-left: 10px;
}

.favFooter div div p{
    color: var(--midGray);
}

.favFooter div div h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.favFooter div h2{
    padding: 10px;
    color: white;
    background-color: var(--bloodRed);
    border-radius: 10px 0px 0px 10px;
}